version: "3.9"

services:
  web:
    build:
      context: ./web-app
      dockerfile: Dockerfile
      target: deps
    environment:
      NODE_ENV: development
    volumes:
      - ./web-app:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
    ports:
      - "3000:3000"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: deps
    environment:
      NODE_ENV: development
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run start:dev
    ports:
      - "8000:8000"
