version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: deps
    environment:
      NODE_ENV: development
      PORT: 8000
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run start:dev
    ports:
      - "8000:8000"

  web:
    build:
      context: ./web-app
      dockerfile: Dockerfile
      target: deps
    environment:
      NODE_ENV: development
      PORT: 3000
    volumes:
      - ./web-app:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
    ports:
      - "3000:3000"

  admin-dashboard:
    build:
      context: ./admin-dashboard
      dockerfile: Dockerfile
      target: deps
    environment:
      NODE_ENV: development
      PORT: 3001
    volumes:
      - ./admin-dashboard:/app
      - /app/node_modules
      - /app/.next
    command: npm run dev
    ports:
      - "3001:3001"
